
* {
    /* RESET */
    box-sizing: border-box;
    /* DEMO */
    border: 1px dashed #999;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header{
    grid-column: 1 / 4;
}

main{
    grid-column: 1 / 3;
}

aside{
    grid-column: 3 / 4;
}

footer{
    grid-column: 1 / 4;
}